In [1]:
import pandas as pd
import numpy as np

In [2]:
data_math = pd.read_csv("Data/student-mat.csv", sep = ";")

In [3]:
data_math.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
# lazy feature selection
for feat in data_math.columns:
    if type(data_math[feat][0]) == str:
        data_math= data_math.drop(feat, axis = 1)

In [5]:
data_math.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6,6
1,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5,6
2,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8,10
3,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14,15
4,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10,10

In [6]:
feats = data_math.drop(['G3'], axis = 1)
labels = data_math['G3']

In [7]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_validate

In [8]:
model = KNeighborsRegressor(n_neighbors=2)

cv_results = cross_validate(model, feats, labels, cv=5)

In [9]:
cv_results

{'fit_time': array([0.00295544, 0.00299096, 0.00195932, 0.00197387, 0.00299215]),
 'score_time': array([0.0019958 , 0.00199437, 0.00201559, 0.00199461, 0.00199366]),
 'test_score': array([0.73040172, 0.84053898, 0.75276141, 0.82792464, 0.7627562 ])}